

# 환경 변수 파일
public/.env
src/.env
data_collector/.env

# Python 가상환경 및 캐시 파일
src/data_collector/.env
src/data_collector/venv/
**/__pycache__/
**/*.py[cod]

# 데이터베이스 설정 파일 (보안)
**/database/*.json
backend/*.json
frontend/*.json

# MacOS 관련 불필요한 파일
.DS_Store

# IDE 관련 설정 파일 (VSCode 등)
.vscode/
.idea/
*.swp
*.swo

# Python bytecode 파일
*.pyc
*.pyo

# 기타 임시 파일
*.tmp
*.bak
